ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, p, form {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

img {
    border: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

#contenedor {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

section {
    float: left;
    width: 76%;
    margin-bottom: 5px;
}

aside {
    float: right;
    width: 20%;
    border: 1px solid red;
    margin-bottom: 5px;
}

header {
    clear: both;
}

nav {
    clear: both;
}

footer {
    clear: both;
}


/*Header*/
header #logo {
    float: left;
}

header #buscador {
    float: right;
}

/* NavBar */
nav ul#menu_principal li {
    display: inline;
    float: left;
    padding: 0 10px 0 0;
}

header,
nav,
section,
aside,
footer {
    padding: .5em;
}

    nav ul li a {
        text-decoration: none;
    }

nav {
    overflow: hidden;
}

    
    nav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        nav a:hover {
            background-color: gray;
            color: white;
        }

        nav a.active {
            background-color: black;
            color: white;
        }


    header h1 {
        background: url(OBRA-SOCIAL.png) no-repeat 0px 0px;
        text-align: center;
        width: 170px;
        height: 50px;
    }

        header h1 span {
            visibility: hidden;
        }

section h2 {
    text-align: center;
}

section #logo {
    background-image: url('OBRA-SOCIAL.png');
    text-align: center;
}

aside p {
    color: white;
    background-color: red;
    font-size: large;
    height: 30px;
}
footer {
    padding: .5em 0;
    margin-top: 1em;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    background: #f8f8f8;
    text-align: center
}

.table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
}

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #ddd;
    }

    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: gray;
        color: white;
    }

.regresar, .btnAccion {
    margin-top: 5px;
}